---
import "@/style/markdown.scss";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const tags = [...frontmatter.tags?.split(",").map((tag: string) => tag.trim()) || []];
---

<BaseLayout title={frontmatter.title}>
  <div class="m-8">
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

    <p>작성자: {frontmatter.author}</p>

    <div id="markdown" class="my-8">
      <slot />
    </div>

    <div class="tags">
      {
        tags.map((tag: string) => {
          tag = tag.trim();
          return (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          );
        })
      }
    </div>
  </div>

  <script
    is:inline
    src="https://utteranc.es/client.js"
    repo="hanjulcoding/hanjulcoding"
    issue-term="title"
    {/* pathname | url | title .. */}
    label="comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async></script>
</BaseLayout>
