---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="m-8">
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

    <p>작성자: {frontmatter.author}</p>

    <div id="content" class="my-8">
      <slot />
    </div>

    <div class="tags">
      {
        frontmatter.tags.split(",").map((tag: string) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </div>

  <script is:inline
    src="https://utteranc.es/client.js"
    repo="hanjulcoding/hanjulcoding"
    issue-term="title"
    {/* pathname | url | title .. */}
    label="comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async></script>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  .tag {
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    background-color: #f8fcfd;
  }
</style>
