---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />

  <script
    src="https://utteranc.es/client.js"
    repo="hanjulcoding/hanjulcoding"
    issue-term="title"
    {/* pathname | url | title .. */}
    label="comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async></script>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    background-color: #f8fcfd;
  }
</style>
